
@import "compass/css3";

$defaultBg : #E4E4E4;
$primaryBg : #66CCFF;
$successBg : #33CCCC;
$warningBg : #F3D261;
$dangerBg  : #FF9999;
$violetBg  : #8089C1;
$blackBg   : #333;
$greyBg    : #666;

$formLength:100px;

// @import "compass/css3";

// $defaultBg : #E4E4E4;
// $primaryBg : #578ebe;
// $successBg : #1BBC9B;
// $warningBg : #f3c200;
// $dangerBg  : #E26A6A;
// $violetBg  : #8775a7;
// $blackBg   : #2f353b;
// $greyBg    : #525e64;

// $formLength:100px;
