
@import "compass/css3";

$defaultBg : #E4E4E4;
$primaryBg : #66CCFF;
$successBg : #33CCCC;
$warningBg : #F3D261;
$dangerBg  : #FF9999;
$violetBg  : #8089C1;
$blackBg   : #333;
$greyBg    : #666;

$formLength:100px;

