
@import "compass/css3";

$defaultBg : #E4E4E4;
$primaryBg : #66CCFF;
$successBg : #33CCCC;
$warningBg : #F3D261;
$orangeBg : #F05B48;
$dangerBg  : #FF9999;
$violetBg  : #8089C1;
$blackBg   : #333;
$greyBg    : #666;

$formLength:100px;

// button type1
@mixin button-define($background,$color,$type) {
  background: $background;
  color: $color;

  @if $type == 'btn' {
	&:hover{
	  	background:darken($background, 5%);
	}
  }
}

// button type2
@mixin button-border-define($background) {
	background: none;
  	color: $background;
	// padding: 5px 20px;
	border: 1px solid $background;
	&:hover{
	  	background:lighten($background, 26%);
	}
}


