@charset "utf-8";

/**
 * 
 * @authors H君 (26228161@qq.com)
 * @date    2014-11-28 21:53:45
 * @version 1.0.2
 */

@import "config";

/*********************base*********************/
*, 
:after, 
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
i {
	font-style: normal
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: block;
	zoom: 1;
}
span{
	vertical-align:middle;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.hide {
	display: none;
}

/* ********************nav*********************/
.nav {
	font-size: 0;
	a {
		color: #4B4B4B;
		padding: 12px 15px;
		display: inline-block;
		font-size: 14px;
		&:hover{
			color: #999;
		}
	}
	&.nav-tabs{
		border-bottom: 1px solid #ddd;
		li {
			float: left;
			text-align: center;
			cursor: pointer;
			list-style: none;
			margin-right: 15px;
			margin-bottom: -1px;
			a {
				color: #5e5e5e;
				display: block;
				padding: 8px 20px;
				background: #EDEDED;
				border: 1px solid #DDDDDD;
				text-align: center;
				&:hover{
					@extend a.active;
				}
			}
			a.active{
				background: #fff;
				color: $primaryBg;
				border-bottom: 1px solid #fff;
			}
		}
	}
}

/********************table*********************/
.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	th{
		color: #8c8c8c;
		text-align: left;
		border-top: none!important;
		@extend td;
	}
	td {
		padding: 10px;
		vertical-align: middle;
		border-top: 1px solid #ddd;
		color: #5D5A5A;
		background: #FFF;
		font-size: 12px;
	}
	.user-list-number {
		cursor: pointer;
	}
}
.table-bordered {
	border: 1px solid #ddd;
	border-collapse: separate;
	border-left: 0;
	th{
		@extend td;
	}
	td{
	  border-left: 1px solid #E9E9E9;
	}
}
.table-hover tbody tr:hover>td {
	background-color: #f5f5f5;
}
.table-zebra tbody > tr:nth-child(odd)>td {
	background-color: #f9f9f9;
}


/*********************tooltip*********************/
.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	white-space: normal;
	filter: alpha(opacity=0);
	opacity: 0;
	line-break: auto;
	&.in {
		filter: alpha(opacity=90);
		opacity: .9;
	}
	&.top {
		padding: 5px 0;
		margin-top: -3px;
		.tooltip-arrow {
			bottom: 0;
			left: 50%;
			margin-left: -5px;
			border-width: 5px 5px 0;
			border-top-color: #000;
		}
	}
	&.right {
		padding: 0 5px;
		margin-left: 3px;
	}
	&.bottom {
		padding: 5px 0;
		margin-top: 3px;
		.tooltip-arrow{
			top: 0;
			left: 50%;
			margin-left: -5px;
			border-width: 0 5px 5px;
			border-bottom-color: #000;
		}
	}
	&.left {
		padding: 0 5px;
		margin-left: -3px;
		.tooltip-arrow {
			top: 50%;
			right: 0;
			margin-top: -5px;
			border-width: 5px 0 5px 5px;
			border-left-color: #000;
		}
	}
	&.top-left {
		.tooltip-arrow {
			right: 5px;
			bottom: 0;
			margin-bottom: -5px;
			border-width: 5px 5px 0;
			border-top-color: #000;
		}
	}
	&.top-right{
		.tooltip-arrow {
			top: 50%;
			left: 0;
			margin-top: -5px;
			border-width: 5px 5px 5px 0;
			border-right-color: #000;
		}
	}
	&.bottom-left{
		.tooltip-arrow {
			top: 50%;
			left: 0;
			margin-top: -5px;
			border-width: 5px 5px 5px 0;
			border-right-color: #000;
		}
	}
	&.bottom-right {
		.tooltip-arrow{
			top: 0;
			left: 5px;
			margin-top: -5px;
			border-width: 0 5px 5px;
			border-bottom-color: #000;
		}
	}

}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px;
}
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}


/********************dropdown*********************/
.dropdown-toggle {
	*margin-bottom: -3px
}
.dropdown-toggle:active, .open .dropdown-toggle {
	outline: 0
}
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: ""
}
.dropdown .caret {
	margin-top: 8px;
	margin-left: 2px
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box
}
.dropdown-menu.pull-right {
	right: 0;
	left: auto
}
.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #fff
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333;
	white-space: nowrap
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
	color: #fff;
	text-decoration: none;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #08c, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #08c, #0077b3);
	background-image: -o-linear-gradient(top, #08c, #0077b3);
	background-image: linear-gradient(to bottom, #08c, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #0081c2;
	background-image: -moz-linear-gradient(top, #08c, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0077b3));
	background-image: -webkit-linear-gradient(top, #08c, #0077b3);
	background-image: -o-linear-gradient(top, #08c, #0077b3);
	background-image: linear-gradient(to bottom, #08c, #0077b3);
	background-repeat: repeat-x;
	outline: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	color: #999
}
.dropdown-menu>.disabled>a:hover, .dropdown-menu>.disabled>a:focus {
	text-decoration: none;
	cursor: default;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.open {
	*z-index: 1000
}
.open>.dropdown-menu {
	display: block
}
.dropdown-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 990
}
.pull-right>.dropdown-menu {
	right: 0;
	left: auto
}
.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px solid #000;
	content: ""
}
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px
}
.dropdown-submenu {
	position: relative
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px 6px;
	border-radius: 0 6px 6px 6px
}
.dropdown-submenu:hover>.dropdown-menu {
	display: block
}
.dropup .dropdown-submenu>.dropdown-menu {
	top: auto;
	bottom: 0;
	margin-top: 0;
	margin-bottom: -2px;
	-webkit-border-radius: 5px 5px 5px 0;
	-moz-border-radius: 5px 5px 5px 0;
	border-radius: 5px 5px 5px 0
}
.dropdown-submenu>a:after {
	display: block;
	float: right;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-right: -10px;
	border-color: transparent;
	border-left-color: #ccc;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	content: " "
}
.dropdown-submenu:hover>a:after {
	border-left-color: #fff
}
.dropdown-submenu.pull-left {
	float: none
}
.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px
}
.dropdown .dropdown-menu .nav-header {
	padding-right: 20px;
	padding-left: 20px
}



/********************btn********************/
button[type="button"] {
	border: none;
}
.btn {
	background: $defaultBg;
	padding: 6px 20px;
	color: #666;
	font-size: 13px;
	display: inline-block;
	line-height: 20px;
	&:hover{
		background-color: #CFCFCF;
	}
	&.btn-mini {
		padding: 4px 12px;
	}

}

.label {
	font-size: 12px;
	color: #fff;
	padding: 8px 20px;
	margin: 0 3px;
	border-radius: 14px;
	display: inline-block;
	background: $defaultBg;
	&.label-mini{
		padding: 4px 10px;
	}
}

.btn-primary, .label-primary {
	background: $primaryBg;
	color: #fff;
}
.btn-primary:hover {
	background: lighten($primaryBg,5%);
}
.btn-success, .label-success {
	background: $successBg;
	color: #fff;
}
.btn-success:hover {
	background: lighten($successBg,5%);
}

.btn-warning, .label-warning {
	background: $warningBg;
	color: #fff;
}
.btn-warning:hover {
	background: lighten($warningBg,5%);
}
.btn-danger, .label-danger {
	background: $dangerBg;
	color: #fff;
}
.btn-danger:hover {
	background: lighten($dangerBg,5%);
}
.btn-grey, .label-grey {
	background: $greyBg;
	color: #fff;
}
.btn-grey:hover {
	background: lighten($greyBg,5%);
}
.btn-black, .label-black{
	background: $blackBg;
	color: #fff;
}
.btn-black:hover {
	background: lighten($blackBg,5%);
}
.btn-violet, .label-violet{
	background: $violetBg;
	color: #fff;
}
.btn-violet:hover {
	background: lighten($violetBg,5%);
}
.btn-link {
	background: none;
	color: #005580;
}
.btn-link:hover {
	background: none;
	color: #0D79AF;
}
.btn-raduis {
	border-radius: 16px;
}
label {
	margin-bottom: 5px;
	display: block;
}

/********************form*********************/
label, 
input, 
button, 
select, 
textarea {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

select, 
textarea, 
input[type="text"], 
input[type="password"] {
	display: inline-block;
    height: 34px;
    padding: 6px 12px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	vertical-align: middle;
}
select {
	width: 220px;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 7px 6px;
	height: 38px;
	line-height: 38px;
}
textarea {
	height: auto;
	overflow: hidden;
}
.form-search input, 
.form-inline input, 
.form-horizontal input, 
.form-search textarea, 
.form-inline textarea, 
.form-horizontal textarea, 
.form-search select, 
.form-inline select, 
.form-horizontal select, 
.form-search .help-inline, 
.form-inline .help-inline, 
.form-horizontal .help-inline, 
.form-search .uneditable-input, 
.form-inline .uneditable-input, 
.form-horizontal .uneditable-input, 
.form-search .input-prepend, 
.form-inline .input-prepend, 
.form-horizontal .input-prepend, 
.form-search .input-append, 
.form-inline .input-append, 
.form-horizontal .input-append {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

textarea, 
input[type="text"], 
input[type="password"] {
	background-color: #fff;
	border: 1px solid #ccc;
	&:focus{
		border-color: lighten($primaryBg,10%);
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($primaryBg,10%));
		outline: 0;
		outline: thin dotted \9; /* IE6-9 */
	}
}
input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
	outline:none;
	-webkit-appearance: none;
  	user-select: none;
  	width:18px;
  	height: 18px;
  	border:1px solid #ddd;
  	text-align:center;
  	vertical-align: middle;
  	&:hover{
  		border:1px solid $primaryBg;
  	}
  	&:after{
  		display:block;
		content: '\2713';
		color:#fff;
		font-size: 12px;
  	}
  	&:checked{
  		background:$primaryBg;
		border:1px solid $primaryBg;
  	}
}

input[type="radio"]{
	@extend input[type="checkbox"];
	border-radius:50%;
	&:hover{
  		@extend input[type="checkbox"]:hover;
  	}
  	&:after{
  		@extend input[type="checkbox"]:after;
  	}
  	&:checked{
  		@extend input[type="checkbox"]:checked;
  	}
}

input[type="image"], input[type="checkbox"], input[type="radio"] {
	padding: 0;
	margin: 4px 0;
	line-height: normal;
	cursor: pointer;
	border: 0 \9;
}


/*defaul form */
.form-horizontal{
	.control-label {
		float: left;
		width: 76px;
		padding-top: 8px;
		text-align: left;
		color: #6b6a68;
	}
	.words {
		padding-top: 0px;
	}
	.control-group {
		margin-bottom: 20px;
		&:before{
			display: block;
			line-height: 0;
			content: "";
		}
		&:after{
			clear: both;
			@extend .control-group:before;
		}
	}
	.control-group-list{
		.control-label {
			width: 100px;
		}
		.controls {
			margin-left: 110px;
			.help-inline {
				font-size: 14px;
			}
		}
	}
}

.input-mini {
	width: $formLength;
}
.input-small {
	width: $formLength + 60px;
}
.input-large {
	width: $formLength +140px;
}
.input-xlarge {
	width: $formLength +270px;
}
.input-xxlarge {
	width: $formLength +370px;
}

.radio, .checkbox {
	padding-left: 18px;
	min-height: 20px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
	display:inline-block;
	margin-left: -20px;
}
.controls>.radio:first-child, .controls>.checkbox:first-child {
	padding-top: 5px;
}
.radio.inline, .checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}
.radio.inline+.radio.inline, .checkbox.inline+.checkbox.inline {
	margin-left: 10px;
}
.help-inline {
	display: inline-block;
	padding-left: 5px;
	vertical-align: middle;
	font-size: 13px;
	color: #999;
}

/*line form*/
.form-group.form-line-input{
	position: relative;
	margin-bottom:30px;
	padding-top:20px;
	.form-control{
		width: 100%;
		border:none;
		box-shadow: none;
		padding:6px 0;
		border-bottom: 1px solid #c2cad8;
		display: bolck;
		overflow: auto;
		&.edited{
			&~label{
				top: 0;
				font-size: 13px;
				pointer-events: none;
				&:after{
			        left: 0;
			        width: 100%;
			        visibility: visible;
			        background:$primaryBg;
				}
			}
			&~.help-block{
				opacity: 1;
				
			}
		}
		&~label{
			width: 100%;
			position: absolute;
			top:28px;
			left:0;
			bottom:0;
			color: #999;
		    margin-bottom: 0;
		    font-size: 14px;
		    color: #888888;
		    opacity: 1 ;
		    filter: alpha(opacity=100) ; 
		    @include transition(.2s ease all);
		    pointer-events: none; 
		    &:after{
		    	width: 0;
		        height: 2px;
				content: '';
		        position: absolute;
		        z-index: 5;
		        bottom: 0;
		        left: 50%;
		        visibility: hidden;
		        @include transition(.2s ease all);
			}
		}
		&:disabled{
			cursor: not-allowed;
			border-bottom: 1px solid #eee;
			&~label{
				top: 0;
				font-size: 13px;
				pointer-events: none;
				
			}
			&~.help-block{
				opacity: 1;
			}
		}
		&:not([readonly]){
			&:focus{
				outline: none;
				&~label{
					top: 0;
					font-size: 13px;
					pointer-events: none;
					&:after{
				        left: 0;
				        width: 100%;
				        visibility: visible;
				        background:$primaryBg;
					}
				}
				&~.help-block{
					opacity: 1;
				}
			}
		}
	}
	.help-block{
		display: block;
		position: absolute;
		bottom:-20px;
	    margin: 2px 0 0;
	    opacity: 0;
	    font-size: 12px;
	    color:#ccc;
	}
	&.has-success{
		.form-control{
			&:focus{
				&~label{
					color:$successBg;
					&:after{
				        background:$successBg;
					}
				}
			}
			&.edited{
				&~label{
					color:$successBg!important;
					&:after{
				        background:$successBg;
					}
				}
			}
			// &~.help-block{
			// 	color:$successBg;
			// }
		}
	}
	&.has-error{
		.form-control{
			&:focus{
				&~label{
					color:$dangerBg;
					&:after{
				        background:$dangerBg;
					}
				}
			}
			&.edited{
				&~label{
					color:$dangerBg!important;
					&:after{
				        background:$dangerBg;
					}
				}
			}
			&~.help-block{
				color:$dangerBg;
			}
		}
	}
}

/********************progress bar*********************/
.progress {
	overflow: hidden;
	height: 18px;
	background-color: #E1E1E1;
	.bar {
		width: 0%;
		height: 18px;
		color: #ffffff;
		font-size: 12px;
		text-align: center;
		background: #1476E5;
		@include box-sizing(border-box);
		@include transition(width .6s ease);
		&.bar-primary {
			background: $primaryBg;
		}
		&.bar-success {
			background: $successBg;
		}
		&.bar-warning {
			background: $warningBg;
		}
		&.bar-danger {
			background: $dangerBg;
		}
		&.bar-violet {
			background: $violetBg;
		}
		&.bar-black {
			background: $blackBg;
		}
		&.bar-grey {
			background: $greyBg;
		}
	}
	
	
}

/********************page*********************/
.page {
	padding: 15px 20px;
	text-align: left;
	color: #ccc;
	a{
		color: $greyBg;
		display: inline-block;
		margin-left: -1px;
	    padding: 6px 12px;
	    line-height: 1.4;
		border: 1px solid #ddd;
		vertical-align: middle;
		font-size: 13px;
		z-index: 1;
		&:hover{
			background: lighten($greyBg,55%);
		}
	}
	a:first-child{
		border-top-left-radius:4px;
		border-bottom-left-radius:4px;
	}
	a:last-child{
		border-top-right-radius:4px;
		border-bottom-right-radius:4px;
	}
	span.current{
		@extend a;
		color: #fff;
		z-index: 2;
		background-color: $primaryBg;
		border: 1px solid $primaryBg;
		&:hover{
			background: $primaryBg;
		}
	}
	span.disabled{
		@extend a;
		cursor: not-allowed;
		color: #999;
		&:hover{
			background: #fff;
		}
	}
	.more{
		@extend a;
		&:hover{
			background: #fff;
		}
	}
	.gotoInput {
		padding: 5px;
		width: 30px;
		border: 1px solid #ddd;
	}
}

/********************modal*********************/
.form-list {
	margin: 20px 0;
}
.fade {
	opacity: 0;
	@include transition(opacity .15s linear);
	
}
.fade.in {
	opacity: 1;
}
.collapse {
	position: relative;
	height: 0;
	overflow: hidden;
	@include transition(height .35s ease);
	&.in {
		height: auto；
	}
}
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
	filter: alpha(opacity=20);
	&:hover{
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: .4;
		filter: alpha(opacity=40);
	}
	&:focus{
		@extend .close:hover;
	}
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	@extend .modal-backdrop.fade.in;
	&.fade{
		opacity: 0;
		&.in{
			opacity: .7;
			filter: alpha(opacity=70);
		}
	}
}

.modal {
	position: fixed;
	top: 10%;
	left: 50%;
	z-index: 1050;
	width: 560px;
	margin-left: -280px;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	*border: 1px solid #999;
	outline: 0;
	@include box-shadow(0 3px 7px rgba(0, 0, 0, 0.3));
	@include background-clip(padding-box);
	&.fade{
		top: -25%;
		@include transition(opacity .3s linear, top .3s ease-out);
		&.in{
			top: 10%
		}
	}
}

.modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
	text-align: center;
	.close {
		margin-top: 2px
	}
	h3 {
		margin: 0;
		line-height: 30px
	}
}

.modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px;
	overflow-y: auto
}
.modal-form {
	margin-bottom: 0
}
.modal-footer {
	padding: 14px 15px 15px;
	margin-bottom: 0;
	text-align: right;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	@include border-radius(0 0 6px 6px);
	@include box-shadow(inset 0 1px 0 #fff);
	*zoom: 1;
	&:before{
		display: table;
		line-height: 0;
		content: "";
	}
	&:after{
		clear: both;
		@extend .modal-footer:before;
	}
}

.modal-footer , .double-btn .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px
}
.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}

/********************提示框********************/
.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	max-width: 276px;
	padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	@include border-radius(6px);
	@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
	@include background-clip(padding-box);
	.arrow {
		border-width: 11px;
		&:after {
			border-width: 10px;
			content: "";
		}
	}
	&.top {
		margin-top: -10px;
		&.arrow{
			bottom: -11px;
			left: 50%;
			margin-left: -11px;
			border-top-color: #999;
			border-top-color: rgba(0, 0, 0, 0.25);
			border-bottom-width: 0;
			&:after{
				bottom: 1px;
				margin-left: -10px;
				border-top-color: #fff;
				border-bottom-width: 0;
			}
		}
	}
	&.right {
		margin-left: 10px;
		&.arrow {
			top: 50%;
			left: -11px;
			margin-top: -11px;
			border-right-color: #999;
			border-right-color: rgba(0, 0, 0, 0.25);
			border-left-width: 0;
			&:after{
				bottom: -10px;
				left: 1px;
				border-right-color: #fff;
				border-left-width: 0;
			}
		}
	}
	&.bottom {
		margin-top: 10px;
		&.arrow {
			top: -11px;
			left: 50%;
			margin-left: -11px;
			border-bottom-color: #999;
			border-bottom-color: rgba(0, 0, 0, 0.25);
			border-top-width: 0;
			&:after{
				top: 1px;
				margin-left: -10px;
				border-bottom-color: #fff;
				border-top-width: 0
			}
		}
	}
	&.left {
		margin-left: -10px;
		&.arrow {
			top: 50%;
			right: -11px;
			margin-top: -11px;
			border-left-color: #999;
			border-left-color: rgba(0, 0, 0, 0.25);
			border-right-width: 0;
			&:after {
				right: 1px;
				bottom: -10px;
				border-left-color: #fff;
				border-right-width: 0;
			}
		}
	}
	.arrow{
		position: absolute;
		display: block;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		&:after{
			@extend .arrow;
		}
	}
}

.popover-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	@include border-radius(5px 5px 0 0);
	&:empty {
		display: none;
	}
}
.popover-content {
	padding: 9px 14px
}



/********************时间选择框********************/
.input-append, .input-prepend {
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: middle;
	font-size: 0;
	white-space: nowrap
}
.input-append input, .input-append select, .input-append .uneditable-input, .input-append .dropdown-menu, .input-append .popover, .input-prepend input, .input-prepend select, .input-prepend .uneditable-input, .input-prepend .dropdown-menu, .input-prepend .popover {
	font-size: 14px
}
.input-append input, .input-append select, .input-append .uneditable-input, .input-prepend input, .input-prepend select, .input-prepend .uneditable-input {
	position: relative;
	margin-bottom: 0;
	*margin-left: 0;
	vertical-align: top;
}
.input-append input:focus, .input-append select:focus, .input-append .uneditable-input:focus, .input-prepend input:focus, .input-prepend select:focus, .input-prepend .uneditable-input:focus {
	z-index: 2
}
.input-append .add-on, .input-prepend .add-on {
	display: inline-block;
	width: auto;
	height: 20px;
	min-width: 16px;
	padding: 8px 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	border: 1px solid #ccc
}
.input-append .add-on, .input-append .btn, .input-append .btn-group>.dropdown-toggle, .input-prepend .add-on, .input-prepend .btn, .input-prepend .btn-group>.dropdown-toggle {
	vertical-align: top;
}
.input-append .active, .input-prepend .active {
	background-color: #a9dba9;
	border-color: #46a546
}
.input-prepend .add-on, .input-prepend .btn {
	margin-right: -1px
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
	margin-left: -1px
}
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
	margin-right: -1px;
}
.input-prepend.input-append .add-on:last-child, .input-prepend.input-append .btn:last-child {
	margin-left: -1px;
}
.input-prepend.input-append .btn-group:first-child {
	margin-left: 0
}
.input-append .add-on .icon-th {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url(../images/glyphicons-halflings.png);
	background-position: 14px 14px;
	background-repeat: no-repeat;
	margin-top: 3px;
	background-position: -240px 0;
}

/********************图文列表********************/
.table-view {
	padding: 20px;
	position: relative;
	.table-view-cell{
		width: 100%;
		position: relative;
	    padding: 15px ;
	    overflow: hidden;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	    &:hover {
			background: #FAFAFA;
			.table-view-operation {
				opacity: 1;
			}
		}
		.table-view-operation {
			position: absolute;
			top: 20px;
			right: 20px;
			font-size: 12px;
			opacity: 0;
			color: #999;
			@include transition(opacity 0.5s linear);
			i {
				display: block;
			}
		}
	    .media-object {
			width: 160px;
			height: 110px;
			margin-right: 10px;
			position: relative;
			overflow: hidden;
			text-align: center;
			img {
				max-width: 100%;
			}
		}
		.media-body {
			.media-body-tit {
				a {
					color: #000;
					font-size: 16px;
					margin-right: 5px;
				}
			}
			.media-body-sum {
				display: block;
				font-size: 12px;
				height: 38px;
				line-height: 18px;
				margin-top: 10px;
				overflow: hidden;
				a {
					color: #333;
				}
			}
			.media-footer{
				margin: 10px 0;
				a {
					display: inline-block;
					position: relative;
				}
				img {
					width: 25px;
					height: 25px;
					border-radius: 50%;
					vertical-align: middle;
				}
				span {
					color: #999;
					font-size: 12px;
					vertical-align: middle;
					i {
						font-weight: 700;
						color: #666;
						display: inline-block;
						margin-left: 3px;
					}
				}
				.media-name {
					color: #000;
					font-weight: 700;
					margin: 0 5px;
				}
				.media-span{
					margin: 0 10px;
					color: $defaultBg;
				}
				
			}
		}
	}
}

