@charset "utf-8";

/**
 * 
 * @authors Hå› (26228161@qq.com)
 * @date    2014-11-28 21:53:45
 * @version $Id$
 */

@import "compass/reset";
@import "compass/css3";
@import "config";

html{
	font-size:62.5%;
}
body {
	color: #4B4B4B;
	padding-top: 40px !important;
}
ol{
	list-style:decimal!important;
}
.h-header {
	background: #222222;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	z-index: 9000;
}
.h-header-box, .content {
	max-width: 1024px;
	padding:0 10px;
	margin: 0 auto;
}
.h-header-box .nav a {
	color: #d1d1d1;
}
.h-header-box .nav a:hover {
	color: #fff;
}
.content {
	padding: 50px 10px 0;
}

.banner {
	background: $violetBg;
	text-align: center;
	padding: 80px 0 100px;
	color: #fff;
}
.banner .title {
	font-size: 8rem;
	margin-bottom:10px;
}
.banner p {
	font-size: 3rem;
}
.banner .download {
	font-size: 1.8rem;
	margin-top: 40px;
	padding: 15px 80px;
	background: $warningBg;
	color: #fff;
	display: inline-block;
	@include box-shadow(0px 5px 0px darken($warningBg,15%));
}
.banner .download:hover {
	background: lighten($warningBg,3%);
}
.section {
	margin-bottom: 30px;
}
.section > p {
	margin: 10px 0;
}
.content .hb-sum {
	margin-bottom: 30px;
	font-size: 2.2rem;
	line-height:3.4rem;
}
.page-header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eee;
}
.page-header h1 {
	font-size: 3.4rem;
}
.docs-example {
	position: relative;
	padding:20px;
	margin: 15px 0;
	background-color: #fff;
	border: 1px solid #ddd;
}
.docs-example-mt {
	padding-top: 30px;
}
.docs-example-scrollbar .progress {
	margin-bottom: 10px;
}
.docs-input input[type=text] {
	display: block;
	margin-bottom: 10px;
}
footer {
	max-width: 1024px;
	margin: 0 auto!important;
	padding: 10px 10px 40px!important;
	color: #999;
	text-align: center;
}

/* ---------------------------------code color------------------------------------- */
.com {
	color: #93a1a1;
}
.lit {
	color: #195f91;
}
.pun, .opn, .clo {
	color: #93a1a1;
}
.fun {
	color: #dc322f;
}
.str, .atv {
	color: #D14;
}
.kwd, .prettyprint .tag {
	color: #1e347b;
}
.typ, .atn, .dec, .var {
	color: teal;
}
.pln {
	color: #48484c;
}
.prettyprint {
	padding: 8px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	font-size: 1.3rem;
	margin-bottom: 18px;
}
code {
	padding: 2px 4px;
	color: #d14;
	white-space: nowrap;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	font-size: 1.4rem;
	font-weight: normal;
}
.prettyprint.linenums {
	@include box-shadow(inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0);
}

ol.linenums {
	margin: 0 0 0 33px; 
}
ol.linenums li {
	padding-left: 12px;
	color: #bebec5;
	line-height: 20px;
	text-shadow: 0 1px 0 #fff;
	white-space: pre-wrap;
}
