/*====== Button ========*/
button[type="button"] {
  border: none; }

.label, .btn {
  display: inline-block;
  padding: 6px 20px;
  font-size: 1.4rem;
  line-height: 20px;
  background: #E4E4E4;
  color: #666;
  white-space: nowrap; }

.btn:hover {
  background-color: #CFCFCF; }

.btn-mini,
.label-mini {
  padding: 3px 8px;
  font-size: 12px; }

.btn-large,
.label-large {
  padding: 10px;
  font-size: 16px; }

.btn-block {
  display: block;
  text-align: center; }

.btn-primary {
  background: #66CCFF;
  color: #fff; }
  .btn-primary:hover {
    background: #4dc4ff; }

.btn-success {
  background: #33CCCC;
  color: #fff; }
  .btn-success:hover {
    background: #2eb8b8; }

.btn-warning {
  background: #F3D261;
  color: #fff; }
  .btn-warning:hover {
    background: #f1cb49; }

.btn-danger {
  background: #FF9999;
  color: #fff; }
  .btn-danger:hover {
    background: #ff8080; }

.btn-violet {
  background: #8089C1;
  color: #fff; }
  .btn-violet:hover {
    background: #6f79b9; }

.btn-black {
  background: #333;
  color: #fff; }
  .btn-black:hover {
    background: #262626; }

.btn-grey {
  background: #666;
  color: #fff; }
  .btn-grey:hover {
    background: #595959; }

.btn-link {
  background: none;
  color: #005580; }
  .btn-link:hover {
    background: none;
    color: #0D79AF; }

.btn-group .btn {
  margin: 0 5px; }
  .btn-group .btn:last-child {
    margin-right: 0; }

.label-primary {
  background: #66CCFF;
  color: #fff; }

.label-success {
  background: #33CCCC;
  color: #fff; }

.label-warning {
  background: #F3D261;
  color: #fff; }

.label-danger {
  background: #FF9999;
  color: #fff; }

.label-violet {
  background: #8089C1;
  color: #fff; }

.label-black {
  background: #333;
  color: #fff; }

.label-grey {
  background: #666;
  color: #fff; }

.btn-radius-2 {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; }

.btn-radius-4 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.btn-radius-16 {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px; }

.btn-radius-50 {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }
