/*====== Button ========*/
button[type="button"] {
  border: none; }

.btn:hover {
  background-color: #CFCFCF; }
.btn.btn-mini {
  padding: 3px 8px;
  font-size: 12px; }

.label, .btn {
  padding: 6px 12px;
  color: #666;
  font-size: 1.4rem;
  display: inline-block;
  line-height: 20px;
  background: #E4E4E4;
  white-space: nowrap; }
  .label.label-mini, .label-mini.btn {
    padding: 3px 8px;
    font-size: 12px; }

.btn-primary, .label-primary {
  background: #66CCFF;
  color: #fff; }

.btn-primary:hover {
  background: #4dc4ff; }

.btn-success, .label-success {
  background: #33CCCC;
  color: #fff; }

.btn-success:hover {
  background: #2eb8b8; }

.btn-warning, .label-warning {
  background: #F3D261;
  color: #fff; }

.btn-warning:hover {
  background: #f1cb49; }

.btn-danger, .label-danger {
  background: #FF9999;
  color: #fff; }

.btn-danger:hover {
  background: #ff8080; }

.btn-grey, .label-grey {
  background: #666;
  color: #fff; }

.btn-grey:hover {
  background: #595959; }

.btn-black, .label-black {
  background: #333;
  color: #fff; }

.btn-black:hover {
  background: #262626; }

.btn-violet, .label-violet {
  background: #8089C1;
  color: #fff; }

.btn-violet:hover {
  background: #6f79b9; }

.btn-link {
  background: none;
  color: #005580; }
  .btn-link:hover {
    background: none;
    color: #0D79AF; }

.btn-radius-2 {
  border-radius: 2px; }

.btn-radius-4 {
  border-radius: 4px; }

.btn-radius-16 {
  border-radius: 16px; }

.btn-radius-50 {
  border-radius: 50%; }
