@charset "UTF-8";
/**
 * 
 * @authors H君 (26228161@qq.com)
 * @date    2014-11-28 21:53:45
 * @version $Id$
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  color: #4B4B4B;
  padding-top: 40px !important; }

ol {
  list-style: decimal !important; }

.h-header {
  background: #222222;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  z-index: 9000; }

.h-header-box, .content {
  max-width: 1024px;
  padding: 0 10px;
  margin: 0 auto; }

.h-header-box .nav a {
  color: #d1d1d1; }

.h-header-box .nav a:hover {
  color: #fff; }

.content {
  padding: 50px 10px 0; }

.banner {
  background: #8089C1;
  text-align: center;
  padding: 80px 0 100px;
  color: #fff; }

.banner .title {
  font-size: 80px;
  margin-bottom: 10px; }

.banner p {
  font-size: 30px; }

.banner .download {
  font-size: 18px;
  margin-top: 40px;
  padding: 15px 80px;
  background: #F3D261;
  color: #fff;
  display: inline-block;
  -moz-box-shadow: 0px 5px 0px #eebe1a;
  -webkit-box-shadow: 0px 5px 0px #eebe1a;
  box-shadow: 0px 5px 0px #eebe1a; }

.banner .download:hover {
  background: #f4d66f; }

.section {
  margin-bottom: 30px; }

.section > p {
  margin: 10px 0; }

.content .hb-sum {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 34px; }

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eee; }

.page-header h1 {
  font-size: 34px; }

.docs-example {
  position: relative;
  padding: 20px;
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #ddd; }

.docs-example-mt {
  padding-top: 30px; }

.docs-example-scrollbar .progress {
  margin-bottom: 10px; }

.docs-input input[type=text] {
  display: block;
  margin-bottom: 10px; }

footer {
  max-width: 1024px;
  margin: 0 auto !important;
  padding: 10px 10px 40px !important;
  color: #999;
  text-align: center; }

/* ---------------------------------code color------------------------------------- */
.com {
  color: #93a1a1; }

.lit {
  color: #195f91; }

.pun, .opn, .clo {
  color: #93a1a1; }

.fun {
  color: #dc322f; }

.str, .atv {
  color: #D14; }

.kwd, .prettyprint .tag {
  color: #1e347b; }

.typ, .atn, .dec, .var {
  color: teal; }

.pln {
  color: #48484c; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-size: 13px;
  margin-bottom: 18px; }

code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-size: 14px;
  font-weight: normal; }

.prettyprint.linenums {
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0; }

ol.linenums {
  margin: 0 0 0 33px; }

ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
  white-space: pre-wrap; }
