
/*====== Button ========*/

@import "config";

button[type="button"] {
	border: none;
}
label {
	margin-bottom: 5px;
	display: block;
}
.btn {
	background: $defaultBg;
	padding: 6px 20px;
	color: #666;
	font-size: 13px;
	display: inline-block;
	line-height: 20px;
	&:hover{
		background-color: #CFCFCF;
	}
	&.btn-mini {
		padding: 4px 12px;
	}
}

.label {
	font-size: 12px;
	color: #fff;
	padding: 8px 20px;
	margin: 0 3px;
	border-radius: 14px;
	display: inline-block;
	background: $defaultBg;
	&.label-mini{
		padding: 4px 10px;
	}
}

.btn-primary, .label-primary {
	background: $primaryBg;
	color: #fff;
}
.btn-primary:hover {
	background: lighten($primaryBg,5%);
}
.btn-success, .label-success {
	background: $successBg;
	color: #fff;
}
.btn-success:hover {
	background: lighten($successBg,5%);
}

.btn-warning, .label-warning {
	background: $warningBg;
	color: #fff;
}
.btn-warning:hover {
	background: lighten($warningBg,5%);
}
.btn-danger, .label-danger {
	background: $dangerBg;
	color: #fff;
}
.btn-danger:hover {
	background: lighten($dangerBg,5%);
}
.btn-grey, .label-grey {
	background: $greyBg;
	color: #fff;
}
.btn-grey:hover {
	background: lighten($greyBg,5%);
}
.btn-black, .label-black{
	background: $blackBg;
	color: #fff;
}
.btn-black:hover {
	background: lighten($blackBg,5%);
}
.btn-violet, .label-violet{
	background: $violetBg;
	color: #fff;
}
.btn-violet:hover {
	background: lighten($violetBg,5%);
}
.btn-link {
	background: none;
	color: #005580;
}
.btn-link:hover {
	background: none;
	color: #0D79AF;
}
.btn-raduis {
	border-radius: 16px;
}