
/*====== Nav ========*/

@import "config";

.nav {
	font-size: 0;
	a {
		color: #4B4B4B;
		padding: 12px 15px;
		display: inline-block;
		font-size: 14px;
		&:hover{
			color: #999;
		}
	}
	&.nav-tabs{
		border-bottom: 1px solid #ddd;
		li {
			float: left;
			text-align: center;
			cursor: pointer;
			list-style: none;
			margin-right: 15px;
			margin-bottom: -1px;
			a {
				color: #5e5e5e;
				display: block;
				padding: 8px 20px;
				background: #EDEDED;
				border: 1px solid #DDDDDD;
				text-align: center;
				&:hover{
					@extend a.active;
				}
			}
			a.active{
				background: #fff;
				color: $primaryBg;
				border-bottom: 1px solid #fff;
			}
		}
	}
}