

	<div class="content">
		<!-- 提示框 -->
		<!-- <a href="javascript:;" id="example" class="btn" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." title="Popover on top">Popover on top</a> -->
		<p class="hb-sum">Hbook致力于前端开发推广，坚持分享、开放的互联网精神，旨在为广大前端攻城师、设计师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</p>
	
		<!-- 导航 -->
		<section class="section" id="pro-nav">
			<div class="page-header" >
	            <h1>导航</h1>
	        </div>
	        <h3>默认导航</h3>
	        <div class="docs-example">
	        	<div class="nav">
				 	<a href="#">首页</a>
				 	<a href="#">简介</a>
				 	<a href="#">产品</a>
				 	<a href="#">联系我们</a>
				 	<a href="#">关于我们</a>
				 </div>
	         </div>
<pre class="prettyprint linenums">
&lt;div class="nav"&gt;
	&lt;a href="#">首页&lt;/a&gt;
	&lt;a href="#">简介&lt;/a&gt;
	&lt;a href="#">产品&lt;/a&gt;
	&lt;a href="#">联系我们&lt;/a&gt;
	&lt;a href="#">关于我们&lt;/a&gt;
&lt;/div&gt;
</pre>

	         <h3>选项卡</h3>
	        <div class="docs-example">
					<div class="tab-menu">
						<ul>
							<li ><a href="#" class="active">首页</a></li>
							<li><a href="#" >简介</a></li>
							<li><a href="#">产品</a></li>

						</ul>

					</div>

	         </div>
<pre class="prettyprint linenums">
&lt;div class="tab-menu"&gt;
	&lt;ul&gt;
		&lt;li &gt;&lt;a href="game-explain.html" class="selected"&gt;游戏说明&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="game-reward.html" &gt;回报设置&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="game-complete.html"&gt;完成&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div>
</pre>
        </section>

        <!-- 表格 -->
        <section class="section" id="pro-table">
			<div class="page-header" >
	            <h1>表格</h1>
	        </div>
	        <h3>默认表格</h3>
	        <div class="docs-example">
	        	<table class="table " >
					  <thead>
						<tr>
						  <th>项目名</th>
						  <th >发起人</th>
						  <th >回报</th>
						  <th >支付金额</th>
						  <th >配送信息</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
					  </tbody>
				</table>
	         </div>
<pre class="prettyprint linenums">
&lt;table class="table " &gt;
  &lt;thead&gt;
	&lt;tr&gt;
	  &lt;th&gt;项目名&lt;/th&gt;
	  ...
	&lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
	&lt;tr&gt;
	  &lt;td&gt;折叠电动车城市穿行好伙伴&lt;/td&gt;
	  ...
	&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</pre>
	        <h3 ><code >.table-bordered</code></h3>
	        <p>为表格增加边框</p>
	        <div class="docs-example">
	        	<table class="table table-bordered" >
					  <thead>
						<tr>
						  <th>项目名</th>
						  <th >发起人</th>
						  <th >回报</th>
						  <th >支付金额</th>
						  <th >配送信息</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
					  </tbody>
				</table>
	         </div>
<pre class="prettyprint linenums">
&lt;table class="table table-bordered" &gt;
  &lt;thead&gt;
	&lt;tr&gt;
	  &lt;th&gt;项目名&lt;/th&gt;
	  ...
	&lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
	&lt;tr&gt;
	  &lt;td&gt;折叠电动车城市穿行好伙伴&lt;/td&gt;
	  ...
	&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</pre>
	        <h3 ><code >.table-hover</code></h3>
	        <p>为每一行给予鼠标移上高亮</p>
	        <div class="docs-example">
	        	<table class="table table-hover" >
					  <thead>
						<tr>
						  <th>项目名</th>
						  <th >发起人</th>
						  <th >回报</th>
						  <th >支付金额</th>
						  <th >配送信息</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
					  </tbody>
				</table>
	         </div>
<pre class="prettyprint linenums">
&lt;table class="table table-hover" &gt;
  &lt;thead&gt;
	&lt;tr&gt;
	  &lt;th&gt;项目名&lt;/th&gt;
	  ...
	&lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
	&lt;tr&gt;
	  &lt;td&gt;折叠电动车城市穿行好伙伴&lt;/td&gt;
	  ...
	&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</pre>
 			<h3 ><code >.table-zebra</code></h3>
	        <p>添加斑马纹样式</p>
	        <div class="docs-example">
	        	<table class="table table-zebra" >
					  <thead>
						<tr>
						  <th>项目名</th>
						  <th >发起人</th>
						  <th >回报</th>
						  <th >支付金额</th>
						  <th >配送信息</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
						<tr>
						  <td>折叠电动车城市穿行好伙伴</td>
						  <td >骑车者LO</td>
						  <td >原生磁带喝片一盒，附赠额外的设计师蹊顺喵
呆右以不与小笔微筒一只。</td>
						<td >¥100</td>
						<td >有特殊说明，须有备注。</td>
						</tr>
					  </tbody>
				</table>
	         </div>
<pre class="prettyprint linenums">
&lt;table class="table table-zebra" &gt;
  &lt;thead&gt;
	&lt;tr&gt;
	  &lt;th&gt;项目名&lt;/th&gt;
	  ...
	&lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
	&lt;tr&gt;
	  &lt;td&gt;折叠电动车城市穿行好伙伴&lt;/td&gt;
	  ...
	&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
</pre>
        </section>

		<!-- 分页 -->
		<section class="section" id="pro-page">
			<div class="page-header" >
	            <h1>分页</h1>
	        </div>
	        <div class="docs-example">
	        	<div class="jpage"></div>
	         </div>
<pre class="prettyprint linenums">
&lt;div class="jpage"&gt;&lt;/div&gt;
</pre>
        </section>

        <!-- 表单 -->
		<section class="section" id="pro-input">
			<div class="page-header" >
	            <h1 >表单</h1>
	        </div>
	        <h3>登录样例</h3>
	        <div class="docs-example docs-example-mt">
	        	<form class="form-horizontal">
				  <div class="control-group">
				    <label class="control-label" for="inputEmail">Email</label>
				    <div class="controls">
				      <input type="text" id="inputEmail" placeholder="Email" class="input-large">
				    </div>
				  </div>
				  <div class="control-group" style="margin-bottom:10px;">
				    <label class="control-label" for="inputPassword">Password</label>
				    <div class="controls">
				      <input type="password" id="inputPassword" placeholder="Password" class="input-large">
				    </div>
				  </div>
				  <div class="control-group">
				    <div class="controls">
				     <!--  <label class="checkbox">
				        <input type="checkbox"> 记住我
				      </label> -->
				     	<a href="#" class="btn btn-mini btn-success">登录</a>
				    </div>
				  </div>
				</form>
	         </div>
<pre class="prettyprint linenums">
&lt;form class="form-horizontal"&gt;
  &lt;div class="control-group"&gt;
    &lt;label class="control-label" for="inputEmail"&gt;Email&lt;/label&gt;
    &lt;div class="controls"&gt;
      &lt;input type="text" id="inputEmail" placeholder="Email"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="control-group"&gt;
    &lt;label class="control-label" for="inputPassword"&gt;Password&lt;/label&gt;
    &lt;div class="controls"&gt;
      &lt;input type="password" id="inputPassword" placeholder="Password"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="control-group"&gt;
    &lt;div class="controls"&gt;
      &lt;label class="checkbox"&gt;
        &lt;input type="checkbox"&gt; Remember me
      &lt;/label&gt;
     	&lt;a href="#" class="btn btn-orange"&gt;login&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;
</pre>
			<h3>复选框和单选框</h3>
			<p>默认排列</p>
	        <div class="docs-example">
	        	<label class="checkbox">
				  <input type="checkbox" value="">
				  Option one is this and that—be sure to include why it's great
				</label>

				<label class="radio">
				  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				  Option one is this and that—be sure to include why it's great
				</label>
				<label class="radio">
				  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				  Option two can be something else and selecting it will deselect option one
				</label>
	         </div>
<pre class="prettyprint linenums">
&lt;label class="checkbox"&gt;
  &lt;input type="checkbox" value=""&gt;
  Option one is this and that—be sure to include why it's great
&lt;/label&gt;
&lt;label class="radio"&gt;
  &lt;input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked&gt;
  Option one is this and that—be sure to include why it's great
&lt;/label&gt;
&lt;label class="radio"&gt;
  &lt;input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"&gt;
  Option two can be something else and selecting it will deselect option one
&lt;/label&gt;
</pre>
			<h3><code>.inline</code></h3>
			<p>行内单复选框</p>
	        <div class="docs-example">
	        	<label class="checkbox inline">
				  <input type="checkbox" value="">
				 1
				</label>
				<label class="checkbox inline">
				  <input type="checkbox" value="">
				2
				</label>
				<label class="radio inline">
				  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
				  1
				</label>
				<label class="radio inline">
				  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
				  2
				</label>
	         </div>
<pre class="prettyprint linenums">
&lt;label class="checkbox inline"&gt;
  &lt;input type="checkbox" value=""&gt;
  1
&lt;/label&gt;
&lt;label class="radio inline"&gt;
  &lt;input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"&gt;
  2
&lt;/label&gt;
</pre>
			<h3>表单大小</h3>
	        <div class="docs-example docs-input">
	        	<input class="input-mini" type="text" placeholder=".input-mini">
				<input class="input-small" type="text" placeholder=".input-small">
				<input class="input-large" type="text" placeholder=".input-large">
				<input class="input-xlarge" type="text" placeholder=".input-xlarge">
				<input class="input-xxlarge" type="text" placeholder=".input-xxlarge">
	         </div>
<pre class="prettyprint linenums">
&lt;input class="input-mini" type="text" placeholder=".input-mini"&gt;
&lt;input class="input-small" type="text" placeholder=".input-small"&gt;
&lt;input class="input-large" type="text" placeholder=".input-large"&gt;
&lt;input class="input-xlarge" type="text" placeholder=".input-xlarge"&gt;
&lt;input class="input-xxlarge" type="text" placeholder=".input-xxlarge"&gt;
</pre>
			<h3>上传图片</h3>
	        <div class="docs-example">
	         	<form class="form-horizontal" style="margin-top:20px;">

	        		<div class="control-group ">
					  		<label class="control-label " >
								封面图片：
							</label>
							<div class="controls">
								<div class="add-img">
									<a href="javascript:;"  class="btn btn-success">添加封面</a>
									<span>支持jpg、jpeg、png、gif格式;建议尺寸640*480px;</span>
									<input type="file"  placeholder="60天">
								</div>

							  	<ul class="upload-img">
							  		<li style="margin-bottom:0;"><img src="html/images/3.jpg" alt=""></li>
							  	</ul>
								<div class="clear"></div>
							</div>
					  </div>
				</form>
	         </div>
<pre class="prettyprint linenums">
&lt;form class="form-horizontal"&gt;
	&lt;div class="control-group control-group-list"&gt;
  		&lt;label class="control-label " &gt;
			封面图片：
		&lt;/label&gt;
		&lt;div class="controls"&gt;
			&lt;div class="add-img"&gt;
				&lt;a href="javascript:;"  class="btn btn-primary"&gt;添加封面&lt;/a&gt;
				&lt;span&gt;支持jpg、jpeg、png、gif格式;建议尺寸640*480px;&lt;/span&gt;
				&lt;input type="file"  placeholder="60天"&gt;
			&lt;/div&gt;
		  	&lt;ul class="upload-img"&gt;
		  		&lt;li&gt;&lt;img src="html/images/demo.jpg" alt=""&gt;&lt;/li&gt;
		  	&lt;/ul&gt;
			&lt;div class="clear"&gt;&lt;/div&gt;
		&lt;/div&gt;
	  &lt;/div&gt;
&lt;/form&gt;
</pre>
        </section>

        <!-- 按钮 -->
		<section class="section" id="pro-btn">
			<div class="page-header">
	            <h1>默认按钮</h1>
	        </div>
	        <div class="docs-example">
	        	<table class="table table-bordered table-zebra">
		            <thead>
		              <tr>
		                <th>按钮</th>
		                <th>class=""</th>
		                <th>描述</th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <td><a class="btn ">默认</a></td>
		                <td><code>btn</code></td>
		                <td>带渐变的标准灰色按钮</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-primary">主要</a></td>
		                <td><code>btn btn-primary</code></td>
		                <td>提供额外的视觉感, 可在一系列的按钮中指出主要操作</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-info">信息</a></td>
		                <td><code>btn btn-info</code></td>
		                <td>默认样式的替代样式</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-success">成功</a></td>
		                <td><code>btn btn-success</code></td>
		                <td>表示成功或积极的动作</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-warning">警告</a></td>
		                <td><code>btn btn-warning</code></td>
		                <td>提醒应该谨慎采取这个动作</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-danger">危险</a></td>
		                <td><code>btn btn-danger</code></td>
		                <td>表示这个动作危险或存在危险</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-violet">危险</a></td>
		                <td><code>btn btn-violet</code></td>
		                <td>备用紫色代表神秘</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-black">黑色</a></td>
		                <td><code>btn btn-black</code></td>
		                <td>备用的暗灰色按钮，不依赖于语义和用途</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-grey">灰色</a></td>
		                <td><code>btn btn-grey</code></td>
		                <td>备用的灰色按钮，不依赖于语义和用途</td>
		              </tr>
		              <tr>
		                <td><a class="btn  btn-link">链接</a></td>
		                <td><code>btn btn-link</code></td>
		                <td>简化一个按钮, 使它看起来像一个链接，同时保持按钮的行为</td>
		              </tr>
		            </tbody>
		          </table>
	         </div>
        </section>

        <!-- 弹出框 -->
		<section class="section" id="pro-fade">
			<div class="page-header">
	            <h1>弹出框</h1>
	        </div>
	        <div class="docs-example">
	        	<a href="#modal" class="btn btn-success"  role="button"  data-toggle="modal"  style="padding:8px 30px;">点击演示</a>

	        </div>
        </section>

         <!-- 提示工具 -->
		<section class="section" id="pro-tooltip">
			<div class="page-header">
	            <h1>提示工具</h1>
	        </div>
	        <div class="docs-example">
	        	<a class="btn btn-success" data-toggle="tooltip"  data-placement="left" data-original-title="hello,word">这是个提示</a>
	        	<a class="btn btn-danger"data-toggle="tooltip"  data-placement="right" data-original-title="hello,word">这是个提示</a>
	        	<a class="btn btn-warning" data-toggle="tooltip"  data-placement="top" data-original-title="hello,word">这是个提示</a>
	        	<a class="btn btn-primary" data-toggle="tooltip"  data-placement="bottom" data-original-title="hello,word">这是个提示</a>
	        </div>
        </section>

        <!-- 进度条 -->
		<section class="section" id="pro-scrollbar">
			<div class="page-header" >
	            <h1>进度条</h1>
	        </div>
	        <div class="docs-example docs-example-scrollbar">
	        	<div class="progress">
					<div class="bar bar-primary" style="width: 30%;"></div>
				</div>
				<div class="progress">
					<div class="bar bar-success" style="width: 50%;"></div>
				</div>
				<div class="progress">
					<div class="bar bar-warning" style="width: 70%;"></div>
				</div>
				<div class="progress">
					<div class="bar bar-danger" style="width: 90%;"></div>
				</div>

				<table class="table table-bordered table-zebra">
		            <thead>
		              <tr>
		                <th>按钮</th>
		                <th>class=""</th>
		              </tr>
		            </thead>
		            <tbody>
		              <tr>
		                <td>
							<div class="progress">
								<div class="bar bar-primary" style="width: 50%;"></div>
							</div>
		                </td>
		                <td><code>bar bar-primary</code></td>
		              </tr>
		              <tr>
		                <td>
							<div class="progress">
								<div class="bar bar-success" style="width: 50%;"></div>
							</div>
		                </td>
		                <td><code>bar bar-success</code></td>
		              </tr>
		              <tr>
		                <td>
							<div class="progress">
								<div class="bar bar-warning" style="width: 50%;"></div>
							</div>
		                </td>
		                <td><code>bar bar-warning</code></td>
		              </tr>
		               <tr>
		                <td>
							<div class="progress">
								<div class="bar bar-danger" style="width: 50%;"></div>
							</div>
		                </td>
		                <td><code>bar bar-danger</code></td>
		              </tr>

		            </tbody>
		          </table>
	         </div>
        </section>

       <!-- 图文列表 -->
		<section class="section" id="pro-list">
			<div class="page-header" >
	            <h1>图文</h1>
	        </div>
	        <div class="docs-example">
	        	<div class="list-c">
	        		<ul class="list-c-ul clearfix">
	        			<li>
						   <div class="around ">
							    <div class="left-mark">
							     <a href="#" ><img src="html/images/1.jpg" alt="" /> </a>
							     <div class="tip danger-info">风景</div>
							    </div>
							    <div class="right-summary ">
							      <div class="topic-tit">
							      		<a href="#" >哈哈哈哈</a> <i class="label danger-info">已发布</i>
							      </div>
							      <p class="right-summary-p"> <a href="#">Hbook致力于前端开发推广，坚持分享、开放的互联网精神，旨在为广大前端攻城师、设计师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</a> </p>
							      <p class="msg">
								      <a href="#"> <img src="html/images/photo.jpg" alt="" /> <span class="name">aaa</span> </a>
						      		  <span class="time">. 2015-12-02 21:21:24</span>
						      		  <span class="span-1">|</span> <span class="red">阅读<i>1</i></span>
						      		  <span class="span-2">/</span> <span class="comment">评论<i>0</i></span>
						      		  <span class="span-2">/</span> <span class="collection">点赞<i>0</i></span>
							      </p>
							     
							    </div>
							    <div class="right-summary-line"></div>
						   </div>
						</li>
						<li>
						   <div class="around ">
							    <div class="left-mark">
							     <a href="#" ><img src="html/images/2.jpg" alt="" /> </a>
							     <div class="tip warning-info">风景</div>
							    </div>
							    <div class="right-summary ">
							      <div class="topic-tit">
							      		<a href="#" >哈哈哈哈</a> <!-- <i class="label warning-info">设计师</i> -->
							      </div>
							      <p class="right-summary-p"> <a href="#">Hbook致力于前端开发推广，坚持分享、开放的互联网精神，旨在为广大前端攻城师、设计师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</a> </p>
							      <p class="msg">
								      <a href="#"> <img src="html/images/photo.jpg" alt="" /> <span class="name">aaa</span> </a>
						      		  <span class="time">. 2015-12-02 21:21:24</span>
						      		  <span class="span-1">|</span> <span class="red">阅读<i>1</i></span>
						      		  <span class="span-2">/</span> <span class="comment">评论<i>0</i></span>
						      		  <span class="span-2">/</span> <span class="collection">点赞<i>0</i></span>
							      </p>
							    </div>
							    <div class="right-summary-line"></div>
						   </div>
						</li>

						<li>
						   <div class="around ">
							    <div class="left-mark">
							     	<a href="#" ><img src="html/images/3.jpg" alt="" /> </a> 
							      	<!-- <div class="tip success-info">风景</div> -->
							    </div>
							    <div class="right-summary ">
							      <div class="topic-tit">
							      		<a href="#" >哈哈哈哈</a> <!-- <i class="label success-info">前端开发</i> -->
							      </div>
							      <p class="right-summary-p"> <a href="#">Hbook致力于前端开发推广，坚持分享、开放的互联网精神，旨在为广大前端攻城师、设计师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</a> </p>
							      <p class="msg">
								      <a href="#"> <img src="html/images/photo.jpg" alt="" /> <span class="name">aaa</span> </a>
						      		  <span class="time">. 2015-12-02 21:21:24</span>
						      		  <span class="span-1">|</span> <span class="red">阅读<i>1</i></span>
						      		  <span class="span-2">/</span> <span class="comment">评论<i>0</i></span>
						      		  <span class="span-2">/</span> <span class="collection">点赞<i>0</i></span>
							      </p>
							    </div>
							    <div class="right-summary-line"></div>
						   </div>
						</li>
	        		</ul>
	        	</div>
	        </div>
<pre class="prettyprint linenums">
&lt;div class="list-c"&gt;
	&lt;ul class="list-c-ul clearfix"&gt;
		&lt;li&gt;
		   &lt;div class="around "&gt;
			    &lt;div class="left-mark"&gt;
			     &lt;a href="#" &gt;&lt;img src="html/images/1.jpg" alt="" /&gt; &lt;/a&gt;
			     &lt;div class="tip danger-info"&gt;风景&lt;/div&gt;
			    &lt;/div&gt;
			    &lt;div class="right-summary "&gt;
			      &lt;div class="topic-tit"&gt;
			      		&lt;a href="#" &gt;哈哈哈哈&lt;/a&gt; &lt;i class="label danger-info"&gt;已发布&lt;/i&gt;
			      &lt;/div&gt;
			      &lt;p class="right-summary-p"&gt; &lt;a href="#"&gt;Hbook致力于前端开发推广，坚持分享、开放的互联网精神，旨在为广大前端攻城师、
			      设计师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。&lt;/a&gt; &lt;/p&gt;
			      &lt;p class="msg"&gt;
				      &lt;a href="#"&gt; &lt;img src="html/images/photo.jpg" alt="" /&gt; &lt;span class="name"&gt;aaa&lt;/span&gt; &lt;/a&gt;
		      		  &lt;span class="time"&gt;. 2015-12-02 21:21:24&lt;/span&gt;
		      		  &lt;span class="span-1"&gt;|&lt;/span&gt; &lt;span class="red"&gt;阅读&lt;i&gt;1&lt;/i&gt;&lt;/span&gt;
		      		  &lt;span class="span-2"&gt;/&lt;/span&gt; &lt;span class="comment"&gt;评论&lt;i&gt;0&lt;/i&gt;&lt;/span&gt;
		      		  &lt;span class="span-2"&gt;/&lt;/span&gt; &lt;span class="collection"&gt;点赞&lt;i&gt;0&lt;/i&gt;&lt;/span&gt;
			      &lt;/p&gt;
			      &lt;div class="right-summary-line"&gt;&lt;/div&gt;
			    &lt;/div&gt;

		   &lt;/div&gt;

		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;
</pre>
        </section>

        <!-- 评论 -->
		<section class="section" id="pro-comment">
			<div class="page-header" >
	            <h1>评论</h1>
	        </div>
	        <div class="docs-example">
	        	<div class="comment-box">
	        		<div class="comment-list">
		        		<div class="around first-around">
							<div class="left-mark">
							    <a href="#"><img src="html/images/photo.jpg" alt="" /></a>
							</div>
							<div class="right-summary one-sumary">
							    <!-- 一级评论 -->
							    <div class="right-summary-hover one-comment">
								     <p class="msg"> <a href="#"><span class="name">张三</span></a> <span class="time">5小时前</span> </p>
								     <div class="right-summary-p">
								      <p>试试</p>
								     </div>
								     <p class="operation msg" >
							     		<a href="javascript:;" class="report" data-action="report"><span class="">举报</span></a>
							     		<span class="span-1">|</span>
							     		<a href="javascript:;" class="goods" data-action="goods" data-mainid="788">
							     			<span class="red">点赞<i class="goods-num">0</i></span>
							     		</a>
							     		<span class="span-1">|</span>
							     		<a href="javascript:;" class="reply first-reply" data-action="reply" data-isopen="false" data-counts="1" data-toggle="false">
							     			<span class="comment">回复<i class="reply-num">1</i></span>
							     		</a>
								     </p>
							    </div>
							    <!-- 回复评论 -->
							    <div class="other-comment">
								    <div class="around-box">
								      	<div class="around">
									       <div class="left-mark">
									        <a href="#"><img src="html/images/photo.jpg" alt="" /></a>
									       </div>
									       <div class="right-summary">
									     		<div class="right-summary-hover">
											         <p class="msg"> <a href="#"><span class="name">李四</span></a> <span class="time">10分钟前</span> </p>
											         <div class="right-summary-p">
											          <p>edadasd</p>
											         </div>
											         <p class="operation msg">
												         <a href="javascript:;" class="report" data-action="report" >
												         	<span class="">举报</span>
												         </a>
												         <span class="span-1">|</span>
												         <a href="javascript:;" class="reply" data-action="reply" data-isopen="false" data-name="美眉1" data-toggle="false">
												         	<span class="comment">评论 </span>
												          </a>
											          </p>
											    </div>
									       </div>
								      	</div>
								    </div>
								    <div class="more-comment" style="text-align:left;">
								     	<a href="javascript:;" data-mainid="788" data-page="1" data-action="more" data-counts="7" class="more" style="position:static;">更多回复 ∨ </a>
								    </div>
							    </div>
							</div>
						</div>

					</div>
				</div>
	        </div>
<pre class="prettyprint linenums">
&lt;div class="comment-box"&gt;
	&lt;div class="comment-list"&gt;
		&lt;div class="around first-around"&gt;
			&lt;div class="left-mark"&gt;
			    &lt;a href="#"&gt;&lt;img src="html/images/photo.jpg" alt="" /&gt;&lt;/a&gt;
			&lt;/div&gt;
			&lt;div class="right-summary one-sumary"&gt;
			    &lt;!-- 一级评论 --&gt;
			    &lt;div class="right-summary-hover one-comment"&gt;
				     &lt;p class="msg"&gt; &lt;a href="#"&gt;&lt;span class="name"&gt;张三&lt;/span&gt;&lt;/a&gt; &lt;span class="time"&gt;5小时前&lt;/span&gt; &lt;/p&gt;
				     &lt;div class="right-summary-p"&gt;
				      &lt;p&gt;试试&lt;/p&gt;
				     &lt;/div&gt;
				     &lt;p class="operation msg" &gt;
			     		&lt;a href="javascript:;" class="report" data-action="report"&gt;&lt;span class=""&gt;举报&lt;/span&gt;&lt;/a&gt;
			     		&lt;span class="span-1"&gt;|&lt;/span&gt;
			     		&lt;a href="javascript:;" class="goods" data-action="goods" data-mainid="788"&gt;
			     			&lt;span class="red"&gt;点赞&lt;i class="goods-num"&gt;0&lt;/i&gt;&lt;/span&gt;
			     		&lt;/a&gt;
			     		&lt;span class="span-1"&gt;|&lt;/span&gt;
			     		&lt;a href="javascript:;" class="reply first-reply" data-action="reply" 
			     		data-isopen="false" data-counts="1" data-toggle="false"&gt;
			     			&lt;span class="comment"&gt;回复&lt;i class="reply-num"&gt;1&lt;/i&gt;&lt;/span&gt;
			     		&lt;/a&gt;
				     &lt;/p&gt;
			    &lt;/div&gt;
			    &lt;!-- 回复评论 --&gt;
			    &lt;div class="other-comment"&gt;
				    &lt;div class="around-box"&gt;
				      	&lt;div class="around"&gt;
					       &lt;div class="left-mark"&gt;
					        &lt;a href="#"&gt;&lt;img src="html/images/photo.jpg" alt="" /&gt;&lt;/a&gt;
					       &lt;/div&gt;
					       &lt;div class="right-summary"&gt;
					     		&lt;div class="right-summary-hover"&gt;
							         &lt;p class="msg"&gt; &lt;a href="#"&gt;&lt;span class="name"&gt;李四&lt;/span&gt;&lt;/a&gt; 
							         &lt;span class="time"&gt;10分钟前&lt;/span&gt; &lt;/p&gt;
							         &lt;div class="right-summary-p"&gt;
							          &lt;p&gt;edadasd&lt;/p&gt;
							         &lt;/div&gt;
							         &lt;p class="operation msg"&gt;
								         &lt;a href="javascript:;" class="report" data-action="report" &gt;
								         	&lt;span class=""&gt;举报&lt;/span&gt;
								         &lt;/a&gt;
								         &lt;span class="span-1"&gt;|&lt;/span&gt;
								         &lt;a href="javascript:;" class="reply" data-action="reply" 
								         data-isopen="false" data-name="美眉1" data-toggle="false"&gt;
								         	&lt;span class="comment"&gt;评论 &lt;/span&gt;
								          &lt;/a&gt;
							          &lt;/p&gt;
							    &lt;/div&gt;
					       &lt;/div&gt;
				      	&lt;/div&gt;
				    &lt;/div&gt;
				    &lt;div class="more-comment" style="text-align:left;"&gt;
				     	&lt;a href="javascript:;" data-mainid="788" data-page="1" data-action="more" data-counts="7" 
				     	class="more" style="position:static;"&gt;更多回复 ∨ &lt;/a&gt;
				    &lt;/div&gt;
			    &lt;/div&gt;
			&lt;/div&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</pre>
        </section>

        <!-- 幻灯片 -->
		<section class="section" id="pro-slide">
			<div class="page-header" >
	            <h1>幻灯片</h1>
	        </div>
	        <div class="docs-example">
		
	        	<div id="owl-demo" class="owl-carousel" style="width:500px;">
	                <div class="item "><img src="html/images/slide1.jpg" ></div>
	                <div class="item"><img src="html/images/slide2.jpg" ></div>
	                <div class="item"><img src="html/images/slide3.jpg" ></div>
		        </div>
	         </div>
<pre class="prettyprint linenums">
&lt;div id="owl-demo" class="owl-carousel"&gt;
    &lt;div class="item"&gt;&lt;img src="html/images/1.jpg" &gt;&lt;/div&gt;
    &lt;div class="item"&gt;&lt;img src="html/images/2.jpg" &gt;&lt;/div&gt;
    &lt;div class="item"&gt;&lt;img src="html/images/3.jpg" &gt;&lt;/div&gt;
&lt;/div&gt;
</pre>
        </section>
        <!--model begin-->
		<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
		    <h3 id="myModalLabel">标题</h3>
		  </div>
		  <div class="modal-body">
		  		<p>Hbook致力于前端开发推广，坚持分享、开放的互联网精神，旨在为广大前端攻城师、设计师提供交流的平台，如果你和我们有相同的目标，我们乐意一起携手前行。</p>
		  </div>
			<div class="modal-footer">
				    <a href="#" class="btn btn-mini"  data-dismiss="modal" aria-hidden="true">关闭</a>
				    <a href="#" class="btn btn-mini btn-success"  data-dismiss="modal" aria-hidden="true">Save changes</a>
			</div>
		</div>
	</div>
